.bottom-panel {
  margin-top: 20px;
}

.bottom-panel .new-post-label {
  color:red;
  width: auto;
  flex-grow: 1;
  margin-right: 3px;
}

.date{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-bottom: 10px;
  color: black;
  font-size: 0.8em;
  margin-right: 10px;
}